<!DOCTYPE html>
<html>
    <head>
        <title>Mouse position</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="control"></div>
        <script type="text/javascript" src="/javascripts/client.js"></script>
    </body>
</html>
