<!DOCTYPE html>
<html>
  <head>
    <title>Mouse position</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>
          Mouse position: X: <%= x %>, Y: <%= y %>.
      </h1>

      <script>
          setTimeout(function() {
              window.location.reload();
          }, 500);
      </script>
  </body>
</html>
